$text-color: #f0eccf;
$background-color_1: #9c88ff;
$background-color_2: #8d76ff;

%button-temp {
  // margin: 20px;
  cursor: pointer;
  background-color: $background-color_1;
  box-shadow: var(--box-shadow);
  color: $text-color;
  border: 0;
  border-radius: 1.5rem;
  display: block;
  font-size: 24px;
  margin: 10px 0 10px;
  min-width: 300px;
  padding: 15px 0;
  transition: all 0.2s ease-in;
  &:focus {
    outline: 0;
  }
  &:hover {
    transform: scale(1.01);
    box-shadow: 0 3px 2px darkgray;
    background-color: $background-color_2;
  }
}

.button {
  @extend %button-temp;
}
