.cart-icon-container {
  height: 100px;
  width: 100px;
  background-color: #e0e5ec;
  border-radius: 10rem;
  margin: 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.cart-icon {
  height: 100px;
  width: 100px;
}
