.mainContainer {
  background-color: black;
  height: 100%;
  width: 100%;
//   opacity: 0.5;
}

.cart-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
//   margin: 50px;
  // width: 600px;
  // height: 900px;
  padding: 50px;
  background-color: #da2a2a;
  // position: relative;
}

.cart-header {
  background-color: green;
  // padding: 50px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.cart-total {
  display: flex;
  flex-direction: row;
  margin: 0px 20px 20px 0px;

  position: absolute;
  right: 0;
  bottom: 0;
}
