

.card-image {
  margin: 20px;
  width: 260px;
  height: 260px;

  // background-color: #e0e0e0;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 9px 9px 18px #d1d1d1, -9px -9px 18px #ffffff;
  overflow: hidden;
}

.card-image:hover {
  cursor: pointer;
}

// .card-image {
//     max-width: 260px;
//     max-height: 300px;
// }
