@import '../../components/Button/Button.scss';
* {
  justify-content: center;
  align-items: center;
}

.signin-box {
  display: flex;
  min-width: 100vh;
  max-height: 90vh;
  min-height:auto;
  gap: 6px;
  padding: 50px;
  border-radius: 20px;
  position: relative;
  border-radius: 29px;
  background: #e0e0e0;
  box-shadow: 13px 13px 25px #949494, -13px -13px 25px #ffffff;

  .vertical {
      margin: 50px 20px;
      border-left: 3px solid #d3d3d3;
      height: 500px;
  }
  
  .image-container {
      flex: 1;
      justify-content: center;
      align-items:  center;
      // overflow: hidden;
  }
 
  .form {
    justify-content: center;
    align-items: center;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
